<po-page-default>
    <div class="container animate-fade-in">
        <img src="assets/images/construcao.gif" class="construction-image">
        <div class="message">
            <h2>🚧 Em construção! 🚧</h2>
            <p>Estamos trabalhando para trazer essa funcionalidade para você.</p>
            <p>Enquanto isso, que tal explorar as outras opções do sistema? 😊</p>
            <po-button class="" p-icon="ph ph-house" p-label="Voltar" p-kind="primary" (p-click)="voltar()">
            </po-button>
        </div>
    </div>
</po-page-default>