<app-toolbar [title]="'Prova - ' + formData.nomeProva"></app-toolbar>
<po-page-default>
  <div class="po-row animate-fade-in">

    <po-list-view class="po-md-12" p-property-title="nomeProva" [p-items]="[{
      nomeProva: formData.nomeProva,
      formatoProva: formData.formatoProva,
      notaMaximaProva: formData.notaMaximaProva,
      quantidadeQuestoes: questoes.controls.length
    }]">
      <ng-template p-list-view-content-template let-item>
        <div class="po-row">
          <po-info class="po-md-3" p-label="Nome da Prova" [p-value]="item.nomeProva"></po-info>
          <po-info class="po-md-3" p-label="Formato da Prova" [p-value]="item.formatoProva"></po-info>
          <po-info class="po-md-3" p-label="Nota Máxima" [p-value]="item.notaMaximaProva"></po-info>
          <po-info class="po-md-3" p-label="Quantidade de Questões" [p-value]="item.quantidadeQuestoes"></po-info>
        </div>
      </ng-template>
    </po-list-view>


  </div>

  <div class="animate-fade-in">
    <div class="po-row po-mt-1 po-mb-2">

      <po-button class="po-md-3" p-label="Voltar" p-kind="secondary" (p-click)="onClickVoltar()"
        [ngClass]="{ 'po-md-12': isReadonly }">
      </po-button>

      <po-button *ngIf="!isReadonly" class="po-md-9" p-label="Salvar" p-icon="ph ph-floppy-disk" p-kind="primary"
        (p-click)="onSubmit()" [p-disabled]="form.invalid">
      </po-button>

    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="animate-fade-in">
      <div formArrayName="questoes">
        <div *ngFor="let questao of questoes.controls; let index = index" [formGroupName]="index" class="questao-item">
          <!-- <po-input class="po-md-12" [p-upper-case]="true" p-icon="ph ph-question" p-required="true"
            [p-show-required]="true" p-clean formControlName="texto" p-label="Questão {{ index + 1 }}"
            p-readonly="isReadonly">
          </po-input> -->
          <po-input class="po-md-12" [p-upper-case]="true" p-icon="ph ph-question" p-required="true"
            [p-show-required]="true" p-clean formControlName="texto" p-label="Questão {{ index + 1 }}"
            p-readonly="isReadonly" (click)="onFocusInput(index + 1)">
          </po-input>


          <div class="po-row">
            <mat-radio-group formControlName="respostaCorreta" [disabled]="isReadonly" class="custom-radio-group">
              <mat-radio-button class="po-md-1" value="A">A</mat-radio-button>
              <po-input class="po-md-11" [p-upper-case]="true" p-placeholder="Resposta A" formControlName="A"
                p-readonly="isReadonly"></po-input>

              <mat-radio-button class="po-md-1" value="B">B</mat-radio-button>
              <po-input class="po-md-11" [p-upper-case]="true" p-placeholder="Resposta B" formControlName="B"
                p-readonly="isReadonly"></po-input>

              <mat-radio-button class="po-md-1" value="C">C</mat-radio-button>
              <po-input class="po-md-11" [p-upper-case]="true" p-placeholder="Resposta C" formControlName="C"
                p-readonly="isReadonly"></po-input>

              <mat-radio-button class="po-md-1" value="D">D</mat-radio-button>
              <po-input class="po-md-11" [p-upper-case]="true" p-placeholder="Resposta D" formControlName="D"
                p-readonly="isReadonly"></po-input>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
    <p *ngIf="!isReadonly && questoes.controls.length === 0" class="po-md-12 po-mt-1 po-font-text-large po-text-center">
      Clique no botão abaixo para adicionar a sua primeira questão
    </p>
    <po-button *ngIf="!isReadonly" class="po-md-12" [p-tooltip]="'Adicionar questão'" p-tooltip-position="top"
      p-icon="ph ph-plus-circle" p-kind="secondary" (p-click)="abrirModalAdicionarQuestao()">
    </po-button>
  </form>

  <div class="po-row" [style.height.vh]="15"></div>

  <app-chatbot></app-chatbot>

</po-page-default>

<po-modal
  #modalEscolherQuestao
  p-title="Escolha a questão"
  p-size="md"
  [p-hide-close]="true"
  p-icon="ph ph-book-open-text"
  [p-primary-action]="fecharModal">
  
  <po-tree-view
    [p-items]="treeItems"
    (p-selected)="onQuestaoSelecionada($event)"
    [p-selectable]="true"
    (p-unselected)="onQuestaoDesmarcada($event)">
  </po-tree-view>

</po-modal>