<form [formGroup]="formGerarProvaIA">

    <po-input  class="po-md-12" [p-upper-case]="true" formControlName="nomeProva" p-label="Nome da prova"></po-input>

    <po-input class="po-md-6" [p-upper-case]="true"  formControlName="temaProva" p-label="Tema da Prova" placeholder="Digite o tema da prova"></po-input>

    <po-select class="po-md-6" formControlName="formatoProva" p-label="Formato" [p-options]="formatos">
    </po-select>

    <po-select class="po-md-6" formControlName="nivelDificuldade" p-label="Nível de Dificuldade"
        [p-options]="nivelDificuldadeOptions">
    </po-select>

    <po-select class="po-md-6" formControlName="quantidadeQuestoes" p-label="Quantidade de questões" [p-options]="quantidadeQuestoes">
    </po-select>

    <po-select class="po-md-6" formControlName="turmaProva" p-label="Turma" [p-options]="turmas">
    </po-select>

    <po-select class="po-md-6" formControlName="notaMaximaProva" p-label="Nota máxima" [p-options]="notasMaximas">
    </po-select>

    <po-select class="po-md-12" formControlName="disciplina" p-label="Disciplina" [p-options]="disciplinas">
  </po-select>

  <po-select *ngIf="topicos.length > 0" class="po-md-12" formControlName="topico" p-label="Tópico" [p-options]="topicos"></po-select>

</form>