.animate-fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.line {
    position: fixed;
    top: -80px;
    right: 60px;
    transform: scale(0.75);
}

@media screen and (max-width: 1200px) {
    .line {
        right: -60px;
    }
}