<app-toolbar [title]="'Apoio completo para sua jornada como professor'"></app-toolbar>
<po-page-default>
    <div class="animate-fade-in">
        <div class="po-row">
            <div class="po-xl-12 po-lg-12 po-md-12 po-sm-12 banner-image">
                <po-image
                    p-alt="imagem-quadro-negro"
                    p-loading="lazy"
                    [p-height]=500
                    p-src="assets/images/home-main.png"
                    class="po-offset-lg-1 po-offset-xl-1 po-xl-10 po-lg-10 po-md-10 po-sm-12 po-p-5" >
                </po-image>
            </div>
            <div class="po-xl-12 po-lg-12 po-md-12 po-sm-12 po-pt-4">
                <label class="po-md-12 po-mb-5 po-font-subtitle">Na TeacherDigi você terá apoio completo para sua jornada como professor</label>
            </div>
        </div>
        
    </div>


    <app-chatbot></app-chatbot>

</po-page-default>