<po-page-default>
    <div class="animate-fade-in">
        <div class="po-mt-1 po-row">
            <label class="po-md-12 po-mb-5 po-font-subtitle">No DigitalMestre você terá apoio completo para sua jornada como professor</label>
            <po-image
                p-alt="imagem-quadro-negro"
                p-loading="lazy"
                p-src="assets/images/quadro-negro.jpg"
                class="po-offset-lg-3 po-offset-xl-3 po-xl-6 po-lg-6 po-md-6 po-sm-12" >
            </po-image>
        </div>
    </div>


    <app-chatbot></app-chatbot>

</po-page-default>