<po-page-default>
    <div class="animate-fade-in">
        <div class="po-mt-1 po-row">
            <label class="po-hidden-sm po-md-12 po-mb-5 po-font-subtitle">No DigitalMestre você terá apoio completo para sua jornada como professor</label>
            <img 
                src="assets/images/quadro-negro.jpg" 
                alt="imagem-quadro-negro"
                width="100%"
                height="auto"
                class="po-offset-lg-3 po-offset-xl-3 po-xl-4 po-lg-4 po-md-6 po-sm-12">
        </div>
    </div>


    <app-chatbot></app-chatbot>

</po-page-default>