<app-toolbar [title]="'Suporte Técnico'"></app-toolbar>
<img class="line" src="assets/images/line.png">

<po-page-default>
  <div class="po-mt-5 po-row">
    <div class="po-lg-4 po-md-4 po-sm-4">
      <po-image p-src="assets/images/logo-teacher-digi.png" p-alt="Logo Teacher Digi"> </po-image>
    </div>
    <div class="po-offset-lg-1 po-offset-xl-1 po-xl-6 po-lg-6 po-md-6 po-sm-12">
      <h3 class="po-font-title">Precisa de ajuda?</h3>
      <p class="po-font-subtitle">
        Nossa equipe está sempre pronta para ajudar!
      </p>
      <p class="po-font-text-large" style="font-size: 18px;">
        Entre em contato conosco por telefone ou por email
      </p>
      <div class="po-mt-5 po-mb-5">
        <p class="po-font-text-large" style="font-size: 18px;">
          <po-icon
            p-icon="ph ph-whatsapp-logo"
            p-size="lg">
          </po-icon>
          Telefone: (11) 1234-5678
        </p>
      </div>
      <p class="po-font-text-large" style="font-size: 18px;">
        <po-icon 
          p-icon="ph ph-envelope-simple"
          p-size="lg">
        </po-icon>
        Email: <a href="mailto:suporte@teacherdigi.com">Suporte Teacher Digi</a></p>
    </div>
  </div>
</po-page-default>