<po-page-default>
  <div class="animate-fade-in">
    <div class="po-mt-1 po-row">
      <h1 class="po-md-12 po-font-title">Mestre em Ação</h1>
    </div>
    <div class="po-mt-1 po-row">
      <p class="po-md-12 po-font-text-large">Aqui você encontrará dicas para melhorar o desempenho e o engajamentoda sua turma e também treinamentos para poder se desenvolver cada vez mais.</p>
    </div>
    <div class="po-mt-2 po-row">
      <h2 class="po-md-12 po-font-subtitle">Dicas</h2>
      <po-slide
        [p-slides]="videosDicas" >
    </po-slide>
    </div>
    <po-divider p-border-width="small">
    </po-divider>
    <div class="po-mt-1 po-row">
      <h2 class="po-md-12 po-font-subtitle">Treinamentos</h2>
    </div>
    <div class="po-mt-1 po-row">
      <h2 class="po-md-12 po-font-subtitle">Mestre Digital</h2>
    </div>
  </div>
</po-page-default>
